@page "/"
@using PresentationMaker.Blazor.Interpreter

<div class="container">
<div class="row">
    <div class="col-sm-6">
    <textarea placeholder="Enter markdown..." @bind="markdownInput">

    </textarea>
    <div>
        <button class="btn btn-primary" @onclick="Generate">Generate HTML</button>
    </div>

    </div>
    <div class="col-sm-6">
        <Slide Markup="@markdownOutput"></Slide>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
    <textarea placeholder="Enter C# code..." @bind="csharpInput">
    </textarea>
    <div>
        <button class="btn btn-primary" @onclick="Run">Run C#</button>
    </div>

    </div>
    <div class="col-sm-6">
        <Slide Markup="@csharpOutput"></Slide>
    </div>
</div>

</div>


@code {
    [Inject] HttpClient Client {get; set;}

    string markdownInput = "";
    string markdownOutput = "";

    string csharpInput = "Console.WriteLine(\"foo\");";
    string csharpOutput = "";

    void Generate() {
        markdownOutput = CommonMark.CommonMarkConverter.Convert(markdownInput);
    }

    async void Run() {
        csharpOutput = await new Interpreter(Client).Run(csharpInput);
    }
}
