@page "/"

<div class="row">
    <div class="col-sm-6">
    <textarea placeholder="Enter markup..." @bind="input">

    </textarea>
    <div>
        <button class="btn btn-primary" @onclick="Generate">Generate HTML</button>
    </div>

    </div>
    <div class="col-sm-6">
        <Slide Markup="@output"></Slide>
    </div>
</div>

@code {
    string input = "";
    string output = "";

    void Generate() {
        output = CommonMark.CommonMarkConverter.Convert(input);
    }
}
